*{
  font-family: 'Roboto', sans-serif;
}
.navbar-title{
  color: azure;
  padding-left: 10px;
}

aside{
  height: 100vh;
}
#current-weather{
  height: 50%;
  width: 100%;
  border-bottom: 2px solid black;
  background-image: url("./assets/weather.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.city-weather{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#five-day-forecast{
  height: 50%;
  display: flex;
  padding-top: 20px;
  flex-wrap: wrap;
}
.weekday{
  background-color: aqua;
  height: 300px;
 
}
#city-name{
  font-size: 50px;
  font-family: 'Roboto Slab', serif;
}
.city-weather li{
  font-size: 20px;
  list-style: none;
}
.forecast-weather{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-left: 10px;
  border: 3px solid black;
  border-radius: 10px;
  flex-wrap: wrap;
}
#previous-cities{
  list-style: none;
}
.btn{
  background-color: white;
  margin-top: 10px;
  width: 90%;
  margin-right: 10px;
}

/* the page is made responsive with bootstrap but i 
also used this media query to make the phone size more easier to read */
@media (max-width: 600px) {
  main{
    flex-direction: column;
  }
  aside{
    height: 200px;
  }
}